.fc .fc-button-group {
    display: flex;
    gap: 0.5rem;
}

.fc .fc-toolbar-title {
    font-size: 1.5rem !important;        
    font-weight: 900 !important;        
    color: theme('colors.black') !important; 
    letter-spacing: 0.025em !important; 
}

.fc .fc-header-toolbar {
    position: relative; 
}

.fc .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    pointer-events: none; 
    white-space: nowrap;  
}

@media (max-width: 768px) {
    .fc .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
        position: static;
        transform: none;
    }
}

.fc .fc-button {
    background-color:theme('colors.secondary') ; 
    color: white;
    border: none;
    padding: 0.4rem 0.75rem;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    transition: all 150ms ease-in-out;
}

.fc .fc-button-group > .fc-button {
    border-radius: 0.375rem !important;
}

.fc .fc-button:focus,
.fc .fc-button:active,
.fc .fc-button:focus-visible {
    outline: none !important;
    border: none !important;
}

.fc .fc-button:focus,
.fc .fc-button:focus-visible,
.fc .fc-button:active {
    box-shadow: 0 0 0 2px theme('colors.white'), 0 0 0 4px theme('colors.primary') !important; 
}

.fc .fc-button:hover {
    background-color: theme('colors.primary');
}

.fc .fc-day-today {
    background-color: theme('colors.thirdly') !important; 
}

.fc .fc-button-active {
    background-color: theme('colors.primary') !important;
    color: theme('colors.white') !important;
}

.fc .fc-button-active:hover {
    background-color: theme('colors.primary') !important;
}

.fc .fc-button:disabled {
    background-color: theme('colors.grey') !important; 
    color: theme('colors.white') !important;
    opacity: 0.6; 
    cursor: not-allowed; 
}

.fc .fc-prev-button,
.fc .fc-next-button {
    background-color: theme('colors.primary') !important;
}

/* show events as clickable */
.fc-event {
    cursor: pointer; 
}

/* title and time colour */
.fc-event-title,
.fc-event-time {
    color: black;
}

/* weekly and daily event colours */
.fc-event.calibration {
    @apply bg-calibration-bg border-calibration-bg;
}

.fc-event.maintenance {
    @apply bg-maintenance-bg border-maintenance-bg;
}

.fc-event.issue {
    @apply bg-issue-bg border-issue-bg;
}

/* monthly event dot colours */
.fc-event.calibration .fc-daygrid-event-dot{
    @apply border-calibration-text;
}

.fc-event.maintenance .fc-daygrid-event-dot {
    @apply border-maintenance-text;
}

.fc-event.issue .fc-daygrid-event-dot{
    @apply border-issue-text;
}
